{
	"title": "Gathering the Domino IQ Configuration document",
	"versionjson": "1.0.0",
	"steps": [
		{
			"title": "--- Step 1. Export the Domino IQ Configuration document ---",
			"databases": [
				{
					"action": "export",
					"filePath": "dominoiq.nsf",
					"documents": [
						{
							"action": "export",
							"filePath": "JavaAddin/Genesis/jsonresponse/domino_iq_configuration.txt",
							"search": {
								"formula": "Form=\"LLMProvider\" & @Name([Canonicalize]; AccountName)=\"{{ domino_iq_server_name }}\""
							},
							"evaluate": "\"AccountName=\"+@Name([Canonicalize]; AccountName)"
						}
					]
				}
			]
		}
	]
}
